.placed {
  height: 30vh;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.placed-heading {
  padding: 20px;
  font-size: 20px;
}
.back-link > a {
  color: rgb(84, 139, 0);
}
