.nav {
  height: 10vh;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  background-color: #fff;
}

/* nav heading  */
.nav-heading {
  font-size: 1.5rem;
  font-weight: 500;
}

/* icon style  */
.nav-icon {
  position: relative;
  height: 38px;
  width: 38px;
}
.nav-icon > div {
  position: absolute;
  background-color: #333;
}

.nav-icon :nth-child(1) {
  height: 3px;
  width: 18px;
  top: 10px;
  left: 6px;
}
.nav-icon :nth-child(2) {
  height: 17px;
  width: 2px;
  top: 10px;
  left: 6px;
  transform: rotate(-15deg);
}
.nav-icon :nth-child(3) {
  height: 2px;
  width: 17px;
  top: 25px;
  left: 8px;
}
.nav-icon :nth-child(4) {
  height: 20px;
  width: 2px;
  top: 7px;
  left: 27px;
  transform: rotate(15deg);
}
.nav-icon :nth-child(5) {
  height: 3.5px;
  width: 6px;
  top: 6px;
  left: 30px;
}
.nav-icon :nth-child(7) {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  top: 29px;
  left: 11px;
}
.nav-icon :nth-child(8) {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  top: 29px;
  left: 21px;
}

/* number  */

.nav-icon > .nav-icon-number {
  background-color: red;
  color: #fff;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  text-align: center;
  top: -6px;
  left: -4px;
  font-size: 14px;
}
