.card {
  width: 50%;
  height: 320px;
  cursor: pointer;
}

.card-container {
  margin: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 4px 10px 0.5px rgb(211, 210, 210);
  border-radius: 6px;
  overflow: hidden;
}
.card-img {
  height: 200px;
  margin: auto;
}

.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-content {
  padding: 0 10px 10px 10px;
}
.card-title {
  text-transform: capitalize;
  font-size: 1rem;
}
.card-price {
  font-size: 1.05rem;
  font-weight: 500;
  padding-top: 5px;
  color: rgb(0, 0, 0);
}

/* media queries  */

@media screen and (min-width: 1200px) {
  .card {
    width: 25%;
    height: 400px;
  }
  .card-container {
    height: 380px;
  }
}
@media screen and (max-width: 280px) {
  .card {
    width: 100%;
  }
}
